/* Changer la couleur principale en vert (#2E7D32) */
:root {
  --md-primary-fg-color: #2E7D32;
  --md-primary-fg-color--light: #4CAF50;
  --md-primary-fg-color--dark: #1B5E20;
}

/* Accent vert pour boutons et liens */
:root {
  --md-accent-fg-color: #4CAF50;
  --md-accent-fg-color--transparent: #4CAF5050;
}